.container{
  width: 65%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container{
    width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .container{
    width: 95%;
    margin: 0 auto;
  }
}